{% extends "base.html" %}
{% block div %}
x-data="{
state: 0,
email: ''
}"
{% endblock %}

{% block extrameta %}
<link rel="alternate" type="application/atom+xml" href="feed.xml?channelId={{channelId}}">
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block header %}

<h1>{{channelName}}</h1>
{% endblock %}

{% block main %}
<h2>"{{channelDescription}}"</h2>
<p>
  This list has {{numsubscribers}} subscribers. To also subscribe, head to <a
  href="start.html">this page.</a>.
</p>
<h2>Archive of messages</h2>
<ul>
  {% for p in posts %}
  <li><span x-text="d=new Date({{p.timestamp}}000); return d.toLocaleString(undefined);"></span>: <a href="msg/{{p.msgId}}">{{p.subject}}</a></li>
  {% endfor %}
</ul>
  
{% endblock %}
	
