{% extends "base.html" %}
{% block div %}
x-data="{
state: 0,
email: ''
}"
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>Manage your account {{email}}</h1>

{% endblock %}

{% block main %}
  <div>
    <p>
      The following mailing lists are available. <b>Checking the 'Subscribed' box will subscribe you immediately!</b>
    </p>
    <table class="striped">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Subscribed</th>
	</tr>
      </thead>
      <tbody>
	{% for c in channels %}
	<tr {% if c.cid == highlight %}style="border-width:3px; border-style:solid; border-color:#FF0000; padding: 0.5em;" {%endif%}><td>{{c.name}}</td>
	  <td>{{c.description}}</td>
	  <td><input @click.prevent='changeSubscription("{{timsi}}", "{{c.id}}", "{{lang}}", $el)' {% if c.subscribed==1 %}checked{% endif %} type="checkbox"> <span x-transition id="{{c.id}}"></span></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <p>There is no need to confirm subscribing or unsubscribing!</p>
        <p>Privacy policy: your data will not be sold and won't be shared with any one. We'll also not contact you via email, except for messages you explicitly subscribed to. If we do contact you it is because there is an urgent reason to, like for example a data breach. Except for your email address and your subscriptions, we store no data about you, not even your name nor a password. We do however temporarily store log files to investigate problems, but these log files do not contain any personal details.
    </p>
    <p>
      This service runs on <a href="https://www.lenovo.com/nl/nl/p/desktops/thinkcentre/m-series-tiny/thinkcentre-m70q/wmd00000405">my small server</a> in my home, and not on any cloud.
    </p>
    <p>
      For any questions or access to your data, or removal requests, please contact <a href="https://berthub.eu">Bert Hubert</a>, bert@hubertnet.nl
    </p>
  </div>
</template>


{% endblock %}
	
