{% extends "base.html" %}
{% block div %}
x-data="{
state: 0,
email: ''
}"
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>Manage your account, OR create one</h1>

{% endblock %}

{% block main %}
<template x-if="state==0">
  <div>
    <p>
      The following mailing lists are available:
    </p>
    <ul>
      {% for c in channels %}
      <li {% if c.cid==highlight %}style="border-width:3px; border-style:solid; border-color:#FF0000; padding: 0.5em;" {%endif%} ><b><a href="channel.html?channelId={{c.id}}">{{c.name}}</a></b>: {{c.description}}</li>
      {% endfor %}
    </ul>
    <p>
      To subscribe to a mailing list, or to manage any existing subscriptions, fill out your email address below and press enter. You'll receive an email containing a link that will either activate your new account, or allow you to manage an existing one.
    </p>
    <form @submit.prevent="doRequestAccountPage($data, '{{highlight}}');">
      <fieldset role="group">
      <input x-model="email" name="email" size="80" placeholder="email address" autofocus required type="email">
      <input type="submit" value="Submit">
      </fieldset>
    </form>
    <p>Privacy policy: your data will not be sold and won't be shared with any one. We'll also not contact you via email, except for messages you explicitly subscribed to. If we do contact you it is because there is an urgent reason to, like for example a data breach. Except for your email address and your subscriptions, we store no data about you, not even your name nor a password. We do however temporarily store log files to investigate problems, but these log files do not contain any personal details.
    </p>
    <p>
      This service runs on <a href="https://www.lenovo.com/nl/nl/p/desktops/thinkcentre/m-series-tiny/thinkcentre-m70q/wmd00000405">my small server</a> in my home, and not on any cloud.
    </p>
    <p>
      For any questions or access to your data, or removal requests, please contact <a href="https://berthub.eu">Bert Hubert</a>, bert@hubertnet.nl
    </p>
  </div>
</template>

<template x-if="state==1">
  <div>
    <p>
      We just sent an email to <b><span x-text="email"></span></b>, containing a link to activate or manage your account.
    </p>
    <p>
      Please wait for that email to arrive and then click the link in there to proceed. <b>Please also check your spam folder!</b>. If no mail arrives, do email bert@hubertnet.nl so I can fix things for you.
    </p>
  </div>
</template>


{% endblock %}
	
