{% extends "base.html" %}
{% block div %}
x-data="{
state: 0,
email: ''
}"
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block header %}

<h1>Meld {{email}} af van {{channelName}}</h1>
{% endblock %}

{% block main %}
{% if subscribed %}
<p>
  Klik hier om je af te melden:
</p>

<input type="button" value="Unsubscribe from {{channelName}}"
       @click='doPostUnsubscribe("{{userId}}", "{{channelId}}", $el)'>
</input>
<span id="message"></span>

{% else %}
Gebruiker was niet geabonneerd op deze lijst.
{% endif %}


{% endblock %}
	
